main{
    padding: 50px;
}
.add_img{
    width: 700px;
}
.ctn-full{
    display: flex;
    justify-content: space-between;
}
.children{
    flex-direction: column;
    width: max-content;
}
.ctn-additional{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.ctn-p-profile{
    display: flex;
    flex-direction: column;
}
.ctn-profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ctn-profile img{
    height: 50px;
    border-radius: 50%;
}
.ctn-recomendations{
    margin-top: 10px;
    border: #FF0084 solid 2px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.rec_img{
    max-width: 150px;
}
.rec_icon{
    height: 30px;
}
.btn-custom{
    background-color: #FF0084;
}
.btn-custom:hover{
    background-color: #DD3060;
}
ul{
    list-style-type: none;
}
.ctn-actions{
    display: flex;
    justify-content: space-between;
}
.ctn-actions .btn{ 
    justify-content: center;
    display: flex;
    width: 45%;
}
.btn img{
    margin: auto 0 auto 0;
}